<img src="/assets/images/orcas.jpg" alt="volcano pose" style="padding-right:50px;padding-bottom:50px;float:left;width:33%;height:auto;">
<h2 style="font-style: italic;align-items: center">“Rivers flow not past, but through us; tingling, vibrating, exciting every cell and fiber in our bodies, making them sing and glide.”</h2>
<p>John Muir</p>

<h2>WHAT IS ENERGY?</h2>

<p>What you may know as Prana in Yogic philosophy is also represented as Chi, for example in Qi-gong and Taï Chi, and Ki as in Reiki. Truly it is known in all cultures as the life force pervading the physical and subtle layers of the body and the natural world. What I’m studying here is nothing new, it is grounded in ancestral traditions all over the world. My personal approach has grown from the following radiant sources.</p>
<h2>Energy Medicine Yoga</h2>
  
  <p>The amazing power of Yoga with its timeless philosophy
  Meet the groundbreaking healing possibilities of EEM (see next paragraph)
  For a longer-lasting bliss effect</p>
  
  <h2>Eden Energy Medicine</h2>
  
  <p>A compendium of transformative energy practices
  A very specific method guided by energy tests and intuition.
  Based on the work of Donna Eden, a respected healer, her life-long research and her extrasensory vision
  A world-renown approach that has helped countless people heal and find relief from: chronic pain, auto-immune, a vast array of physical and psychological issues, emotional blockages, unexplained symptoms and conditions, seemingly impossible life-style changes…</p>
  
  <p>“Energy Medicine is based on the understanding that any physical, mental, or behavioral problem has a counterpart in the body’s energies and can be treated at that level. Every conceivable health problem, psychological challenge, or dysfunctional habit can be improved if not overcome by intelligently shifting the energies in the body that are maintaining that condition.”</p>
  
  <p>Donna Eden in her bestselling book: Energy Medicine</p>

<!--div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col" *ngFor="let article of articles[(language | async) || 'us']; let i = index">
    <mdb-card class="mb-4">
      <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
        <img
          src="{{ article.image }}"
          class="img-fluid"
        />
        <a href="#!">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
        </a>
      </div>
      <mdb-card-body>
        <h5 class="card-title">{{ article.title }}</h5>
        <p class="card-text">{{ article.description }}</p>
        <a class="btn btn-primary" routerLink="/articles/{{ article.id }}">Read Article</a>
      </mdb-card-body>
    </mdb-card>
  </div>
</div>


<mdb-card *ngFor="let article of articles; let i = index">
  <mdb-card-body>
    <mdb-card-title>
      <h4>{{ article.title }}</h4>
    </mdb-card-title>
    <mdb-card-text>{{ article.description }}</mdb-card-text>
    <div class="flex-row">
      <a class="card-link">Card link</a>
      <a class="card-link">Another link</a>
    </div>
  </mdb-card-body>
</mdb-card>
-->